body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #09ddec;
  }
  
  .battery-container {
    text-align: center;
    
  }
  
  .battery {
    background-color: #ddd;
    border: 2px solid #888;
    width: 50px;
    height: 200px;
    position: relative;
  }
  
  .battery-level {
    background-color: #4caf50;
    height: 0;
    transition: height 0.5s;
  }
  
  .status {
    margin-top: 10px;
    font-size: 18px;
  }
  